rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isAdmin() {
      return signedIn() &&
        firestore.get(/databases/(default)/documents/admins/$(request.auth.uid)).data.enabled == true;
    }

    match /videos/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 2 * 1024 * 1024 * 1024;
    }

    match /thumbnails/{allPaths=**} {
      allow read: if true;
      allow write: if isAdmin() && request.resource.size < 20 * 1024 * 1024;
    }
  }
}
